# Byte-compiled / optimization / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Django specific
*.log
staticfiles/
media/

# Database files
*.sqlite3

# OS files
.DS_Store
Thumbs.db
